<div class="container">
  <span>
    <img src="assets/logo.png" alt="logo" class="logo" />
    <h3 class="container__title">Sign In</h3>
  </span>

  <form
    [formGroup]="loginForm"
    class="container__form"
    (ngSubmit)="onLoginSubmit()"
  >
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      placeholder="Email"
      autocomplete="off"
    />
    <span
      class="error"
      *ngIf="
        loginForm.get('email')!.touched &&
        loginForm.get('email')!.hasError('required')
      "
      >Enter email *
    </span>
    <span
      class="error"
      *ngIf="
        loginForm.get('email')!.touched &&
        loginForm.get('email')!.hasError('pattern')
      "
      >Enter the correct email *</span
    >
    <label class="error">{{ errMessage }}</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      placeholder="Password"
    />
    <span
      class="error"
      *ngIf="
        loginForm.get('password')!.touched &&
        loginForm.get('password')!.hasError('required')
      "
      >Enter password *
    </span>
    <span
      class="error"
      *ngIf="
        loginForm.get('password')!.hasError('minlength') ||
        loginForm.get('password')!.hasError('maxlength')
      "
      >Enter the correct password *</span
    >
    <label class="error">{{ errMessage }}</label>
    <button
      [disabled]="!loginForm.valid"
      class="btn btn-primary my-3"
      type="submit"
    >
      Log In
    </button>
  </form>
  <div class="register">
    <a
      class="register__title"
      href="#"
      [routerLink]="['/signup']"
      routerLinkActive="router-link-active"
      >Register Here</a
    >
  </div>
  <!-- <div class="signin-with-google">
    <div class="content-wrapper">
      <div class="logo-wrapper">
        <img src="assets/g-logo.png" alt="google-icon" />
      </div>
      <div class="text-container">
        <span (click)="tryGoogleLogin()">Sign in With Google</span>
      </div>
    </div>
  </div> -->
</div>
