$background-color-main: #f0f2f5;

$background-color-search: #333;
$background-color-input: #4a4a4a;
$background-color-result: rgb(187, 186, 186);

$text-color-black: black;
$text-color-white: white;

$text-color-grey: #777;
$image-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$text-title-color: #1d1d1d;

$border-color-showtime: 1px solid #222;
$date-color-showtime: rgb(31, 30, 30);
$border-color-showtime-hover: #75746967;
$shotime-slot-type: #05af3e;

$sitetitle-color: rgba(4, 88, 156, 0.658);
