@import "../../../../sass/abstracts/_abstracts-dir";
@import "../../../../sass/typography/_typography-dir";

.signin-with-google {
  text-align: center;
  margin-top: 50px;
  background-color: white;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $background-color-search;
  width: 55%;
  margin: 10px auto;
  @include b-r-5;
  background-color: white;
}
.logo-wrapper {
  background-color: white;
  @include c-pointer;
  height: 40px;
  width: 40px;
  img {
    height: 40px;
    width: 40px;
  }
}
.text-container {
  @include c-pointer;
  font-family: $font-family-nunito;
  font-size: 15px;

  span {
    background-color: white;
  }
}

.container {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 380px;
  height: 440px;
  background-color: white;
  @include mt-40;
  @include b-r-5;
  &__title {
    text-align: center;
    background-color: white;
  }
  &__form {
    width: 350px;
    margin: 10px auto;
    background-color: white;
  }
  span {
    background-color: white;
  }
}

.logo {
  background-color: white;
  width: 90px;
  height: 90px;
  margin-left: 130px;
  margin-right: 130px;
}

.register {
  text-align: right;
  background-color: white;
  &__title {
    text-decoration: none;
    color: #777;
    background-color: white;
    &:hover {
      cursor: pointer;
      color: rgb(8, 122, 24);
    }
  }
}
